* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e213e;
  padding: 20px;
  font-family: "Raleway", sans-serif;
}

.nav a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #000000;
  position: relative;
  font-size: 16px;
  color: gainsboro;
  background-color: #1e213e;

  opacity: 90%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 600px;
}

.h1-login {
  color: #424b9b;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.input-login {
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  background-color: #252525;
  color: gainsboro;
}

.btn {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #000000;
  position: relative;
  font-size: 14px;
  color: gainsboro;
  background-color: #1e213e;
  padding: 8px 8px;
  border-radius: 10px;
  opacity: 90%;
}

.btn:hover {
  background-color: #000000;
  color: #424b9b;
  transition: all 0.5s;
}
