* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgba(231, 231, 228, 255);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  height: 90px;
  width: 100%;
  padding: 0px 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(231, 231, 228, 255);
  border: 1px solid #424b9b;
  z-index: 1;
}

.h1 h1 {
  font-size: 100px;
  color: #b3a492;
  font-family: "DM Serif Display", serif;
}

.h1 h1:hover {
  color: #d6c7ae;
  transform: scaleX(1);
  transition: all 0.9s;
}

.footer-bg {
  background-color: #424b9b;
}

footer {
  color: whitesmoke;
  width: 100%;
  text-align: center;
  padding: 35px 0;
  font-size: 14px;
  font-family: "Martel Sans", sans-serif;
}

#toggle-menu {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  padding: 2rem;
  position: sticky;
  background-color: rgb(40, 39, 39);
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about {
  color: #daddb1;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-align: justify;
}

main {
  background-color: rgb(40, 39, 39);
  margin: 1rem;
  border-radius: 2rem;
  padding: 3rem;
}

.titulo1 {
  color: #daddb1;
  margin-bottom: 2rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.imagen-producto {
  max-width: 100%;
  border-radius: 1rem;
}

.info-producto {
  background-color: #d6c7ae;
  font-family: "Raleway", sans-serif;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titulo-producto {
  font-size: 1rem;
}

.añadir-carrito {
  color: #d6c7ae;
  background-color: #2b2723;
  padding: 4px;
  border-radius: 3rem;
  cursor: pointer;
}

.añadir-carrito:hover {
  background-color: #d6c7ae;
  color: #262423;
  transition-duration: 0.8s;
}

.button-48 {
  appearance: none;
  background-color: #d6c7ae;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #ffffff;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
}
